<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>AI Helpdesk</title>

<style>

body{

font-family:Segoe UI;
background:#2563eb;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}


.box{

background:white;
padding:40px;
border-radius:20px;
width:450px;

}


textarea{

width:100%;
height:100px;
padding:10px;

}


button{

margin-top:15px;
padding:12px;
width:100%;
background:#2563eb;
color:white;
border:none;
border-radius:10px;

}


.reply{

margin-top:20px;
background:#e0f2fe;
padding:15px;
border-radius:10px;

}

</style>

</head>


<body>


<div class="box">


<h2>🤖 AI Helpdesk Chatbot</h2>


<form action="/chatbot" method="post">


<textarea 
name="message"
placeholder="Describe your problem">
</textarea>


<button type="submit">
Ask AI
</button>


</form>



<div class="reply"
th:text="${response}">

AI response appears here

</div>


<br>


<a href="/ticket">

Create Ticket

</a>

</div>


</body>

</html>